*, *:before, *:after {
	box-sizing: border-box;
}
body {

	margin: 0px;
	padding: 0px;
	background-color: #f8f8f8;

}
.container {
	border: 8px solid #CCCACA;
	width: 423px;
	height: 435px;
}

.radio {
	display: none;
	
}

.fake {
	margin-left: 18px;
	margin-top: 15px;
	cursor: pointer;
	float: left;
	height: 30px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #e0e0e0;
	border-radius: 50%;
	position: relative;


}

.fake::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 10px;
	height: 10px;
	background-color: #0590b6;
	border-radius: 50%;
	opacity: 0;
	transition: .2s;


}

.radio::hover {
	border: 2px solid #51728c;
}

.radio:checked + .fake::before {
	opacity: 1;

}

.license {
	font-family: 'Bebas Neue', cursive;
	font-size: 18px;
	display: inline-block;
	float: left;
	margin-left: 10px;

	
}
.sum {
	font-size: 18px;
	display: inline-block;
	color: #7caec1; 

}
.check {
	margin-left: 18px;
	margin-top: 15px;
	text-align: center;
	width: 375px;
	height: 45px;
	display: block;
}
.check:hover {
	background-color: #ecf5f7;
	border: 1px solid #e2eced;
	opacity: 0.5;
}



.price {
	display: inline-block;
	float: right;
	font-size: 10px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.line {
	margin-top: 2px;
	border: none; 
    background-color: #808080; 
    height: 1px;
    text-align: center;
    width: 380px;
    margin-left: 15px;

}

.count {
	width: 380px;

	height: 45px;
	padding-top: 15px;
	margin: 10px;

}
b {
	margin-left: 25%;
}

.sel {
	 width: 45px;
	 height: 25px;
	 font-size: 10px;
	 border: 1px solid #e4f1f9;
	 border-radius: 3px;

}


.nol {
	
	font-size: 12px;
}
.cash {
	text-align: center;
}
.total {
	font-family: 'Bebas Neue', cursive;
	font-size: 18px;

}
 .us {
 	font-size: 10px;
 	color: #aec7ce;
 }
 .btn {
 	width: 140px;
 	height: 35px;
 	border: none;
 	border-radius: 15px;
 	background-color: #30a943;
 	color: white;
 }
 .num {
 	text-align: center;
 	margin-top: 25px;
 	color: blue
 }
 .plan {
 	font-size: 18px;
 	color: #aec7ce;
 }

